body {
  font-family: sans-serif;
  min-height: 0;
}
button {
  border-radius: 20px;
  border: 3px solid #888;
  display: flex;
  gap: 10px;
  font-weight: bold;
  color: #888;

  &:hover:not(.liked) {
    color: #f00;
    border-color: #f00;
  }
  &.liked {
    color: white;
    border-color: white;
    background-color: #f00;
  }
}
